# This CITATION.cff file was generated with cffinit.
# Visit https://bit.ly/cffinit to generate yours today!
---
cff-version: 1.2.0
title: {{ project_name }}
message: >-
  If you use this software, please cite it using the
  metadata from the CITATION.cff file.
type: software
authors:
  {% set author_name_split = author_name.split(' ') %}
  {% set author_given_name = author_name_split[0] %}
  {% set author_last_name = author_name_split[1] if author_name_split | length > 1 else '' %}
  - given-names: {{ author_given_name }}
    family-names: {{ author_last_name }}
    orcid: "{{ author_orcid }}"
repository-code: "{{ github_url }}"
abstract: >-
  {{ project_description }}
keywords:
  - python
license: BSD-3-Clause
