# Python API

```{eval-rst}
{{ python_package_name }}.main
-------------------
.. automodule:: src.{{ python_package_name }}.main
   :members:
   :private-members:
   :undoc-members:
   :show-inheritance:
```
